


.image-widget div.image-widget-data {
  float: none;
}

.form-item.hopcrop-processed, .form-item .form-item.hopcrop-processed {
  border: 1px solid #ccc;
  background: #f2f2f2;
  margin-bottom: 10px;
  padding: 0;
}

.form-item.hopcrop-processed .form-item {
  padding: 0;
}

.form-item.hopcrop-processed .hopcrop-image {
  padding: 10px;
}

.form-item.hopcrop-processed .hopcrop-navigation {
  width: 299px;
  float: right;
  border-left: 1px solid #ccc;
}

.form-item.hopcrop-processed .hopcrop-navigation ul {
  margin: 0;
}

.form-item.hopcrop-processed .hopcrop-navigation ul li {
  list-style: none;
  list-style-type: none;

  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.form-item.hopcrop-processed .hopcrop-navigation ul li a {
  font-weight: bold;
}

.form-item.hopcrop-processed .hopcrop-navigation ul li.active {
  background: white;
}

.form-item.hopcrop-processed .hopcrop-navigation ul li.filled {
  padding-left: 5px;
  border-left: 5px solid #2c2;
}

.form-item.hopcrop-processed .hopcrop-navigation ul li .hopcrop-warning {
  color: #e00;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
}